# Git
.git
.gitignore

# Node
node_modules
frontend/node_modules
npm-debug.log

# Go
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment
.env
.env.local

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
frontend/dist

# Docker
Dockerfile
docker-compose.yml
.dockerignore
