{{block "index" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
        integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header>
        <h1>{{.Title}}</h1>
    </header>
    <aside> Aside </aside>
    <main>
        {{template "form" .}}
        <hr>
        {{template "finances-list" .}}
    </main>
    <footer> Footer </footer>
</body>

</html>
{{end}}

{{block "form" .}}
<div>
    <form hx-swap="beforeend" hx-target="#finances" hx-post="/render/finances">
        <div>
            <input type="text" placeholder="Name" name="name" required>
        </div>
        <div>
            <input type="number" step="0.01" placeholder="Amount" name="amount" required>
        </div>
        <div>
            <select name="category" required>
                <option selected>Fixed Cost</option>
                <option>Comfort</option>
                <option>Goals</option>
                <option>Pleasures</option>
                <option>Financial Freedom</option>
                <option>Knowledge</option>
            </select>
        </div>
        <div>
            <label>Created At</label>
            <input type="datetime-local" name="created_at" required>
        </div>
        <button type="submit">Add</button>
    </form>
</div>
{{end}}

{{block "finances-list" .}}
<ul class="list-group" id="finances">
    {{range .Finances}}
    {{template "finance-list-item" .}}
    {{end}}
</ul>
{{end}}

{{block "finance-list-item" .}}
<li>
    <div>
        <span>{{.Name}}</span>
        <span>R$ {{.Amount}}</span>
        <span>{{.Category}}</span>
        <span>{{.CreatedAt}}</span>
    </div>
    <div>
        <button hx-get="render/finances/edit/{{.Id}}" hx-target="closest li" hx-swap="outerHTML">Edit</button>
        <button hx-delete="/finances/{{.Id}}" hx-target="closest li" hx-swap="outerHTML">Delete</button>
    </div>
</li>
{{end}}

{{block "edit-finance-list-item" .}}
<li>
    <div>
        <input type="text" name="name" value="{{.Name}}">
        <input type="number" step="0.01" name="amount" value="{{.Amount}}">
        <select name="category">
            <option {{if eq .Category "Fixed Cost" }} selected {{end}}>Fixed Cost</option>
            <option {{if eq .Category "Comfort" }} selected {{end}}>Comfort</option>
            <option {{if eq .Category "Goals" }} selected {{end}}>Goals</option>
            <option {{if eq .Category "Pleasures" }} selected {{end}}>Pleasures</option>
            <option {{if eq .Category "Financial Freedom" }} selected {{end}}>Financial Freedom</option>
            <option {{if eq .Category "Knowledge" }} selected {{end}}>Knowledge</option>
        </select>
        <input type="datetime-local" name="created_at" value="{{.CreatedAt}}">
    </div>
    <div>
        <button hx-patch="render/finances/{{.Id}}" hx-include="closest li" hx-target="closest li"
            hx-swap="outerHTML">Save</button>
        <button hx-get="render/finances/{{.Id}}" hx-target="closest li" hx-swap="outerHTML">Cancel</button>
    </div>
</li>
{{end}}